.App {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	padding: 8px 0 8px
}

.header-container {
	display: flex;
	align-items: center;
	margin: 0 auto
}

.header__logo {
	flex-grow: 1;
}

.nav {
	font-size: 16px;
	line-height: 1.375;
	font-weight: 600;
	color: #111;
}

.nav__list {
	display: flex;
	gap: 43px
}

.nav__item:hover {
	color: #646464
}

.header__btn {
	margin-left: 55px;
	border-radius: 15px 0 15px 0;
}

.header__btn a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.375;
	display: inline-block;
	padding: 5px 19px;
}

.btn {
	background-color: #37806b;
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: #CAA892;
}

.interior {
	padding: 86px 0 86px;
}

.interior-container {
	display: flex;
	gap: 44px;
	align-items: center;
	justify-content: space-between;
}

.interior__left {}

.interior__right {
	min-width: 50%;
	height: 626px;
	position: relative;
}

.interior__right img {
	width: 100%;
	height: 100%;
	border-radius: 140px 0;
}

.interior__right::after {
	position: absolute;
	content: '';
	top: 33px;
	left: 35px;
	width: 100%;
	height: 100%;
	border-radius: 140px 0;
	border: 2px solid #B0855B;
	z-index: -10;
}

.interior__btn {
	display: inline-block;
	border-radius: 20px 0;
	background-color: #37806b;
}

.interior__btn a {
	display: inline-block;
	padding: 14px 28px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #646464;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.subtitle {
	color: #212121;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 23px;
}

.subtitle-big {
	font-size: 72px;
	font-weight: 600;
}

.description {
	font-size: 18px;
	line-height: 1.66;
	color: #646464;
	margin-bottom: 46px;
}


.service {
	padding: 80px 0;
}

.service__subtitle {
	margin-bottom: 50px;
}

.service__cards {
	display: flex;
	justify-content: center;
	gap: 37px;
}

.card {
	cursor: pointer;
	width: 425px;
	height: 193px;
	display: flex;
	border-radius: 60px 0;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
	padding: 35px 22px 35px 30px;
	align-items: self-start;
	transition: background 0.3s ease;
}

.card:hover {
	background-color: #CAA892;
}

.card:hover .card__logo img {
	filter: invert(100%);
}

.card:hover .card__title {
	color: #fff;
}

.card:hover .card__text {
	color: #fff;
}

.card__logo {
	flex-shrink: 0;
	width: 40px;
	min-height: 40px;
	margin-right: 20px;

}

.card__logo img {
	min-width: 100%;
	transition: filter 0.3s ease;
}

.card__title {
	font-weight: 700;
	font-size: 24px;
	color: #212121;
	margin-bottom: 10px;
	transition: color 0.3s ease;
}

.card__text {
	font-size: 18px;
	color: #646464;
	letter-spacing: -1%;
	transition: color 0.3s ease;
}

.about {
	padding: 85px 0
}

.about-container {}

.block__left {}

.block__right {
	min-width: 50%;
	height: 778px;
	position: relative;
}

.block__right img {
	width: 100%;
	height: 100%;
	border-radius: 140px 0;
}

.block__right::after {
	position: absolute;
	content: '';
	top: 33px;
	left: 35px;
	width: 100%;
	height: 100%;
	border-radius: 140px 0;
	border: 2px solid #B0855B;
	z-index: -10;
}

.block__right-border {
	min-width: 50%;
	height: 778px;
	position: relative;
}

.block__right-border img {
	width: 100%;
	height: 100%;
	border-radius: 140px 0;
}

.block__right-border::after {
	position: absolute;
	content: '';
	bottom: 33px;
	right: 35px;
	width: 100%;
	height: 100%;
	border-radius: 140px 0;
	border: 2px solid #B0855B;
	z-index: -10;
}

.block__btn {
	display: inline-block;
	border-radius: 20px 0;
	background-color: #37806b;
}

.block__btn a {
	display: inline-block;
	padding: 14px 28px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}


.block {
	display: flex;
	gap: 132px;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.block-reverse {
	display: flex;
	gap: 132px;
	align-items: center;
	justify-content: space-between;
}

.success__btn {
	margin-top: 20px;
}

.success__year {
	font-size: 200px;
	font-weight: 700;
	color: #B0855B;
}

.subscribe {
	margin: 190px 0;
}

.subscribe-container {
	width: 772px;
	text-align: center;
}

.subscribe__subtitle {
	margin-bottom: 37px;
	position: relative;
}

.subscribe__subtitle::after {
	position: absolute;
	content: '';
	width: 461px;
	height: 1px;
	left: 50%;
	bottom: -37px;
	transform: translateX(-50%);
	background-color: #646464
}

.subscribe__description {
	padding: 40px 60px 0 60px;
}

.form__input {
	font-size: 18px;
	font-weight: 500;
	width: 538px;
	padding: 15px 27px;
	background-color: #eee;
	color: #646464;
	border-radius: 20px 0 0 0;
}

.form__btn {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 42px;
	border-radius: 0 0 20px 0;
}